.main {
    width: 100%;
}


.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_saudacao {
    max-width: 600px;
    min-width: 70vw;
    position: relative;
    padding: 20px;
    padding-top: 50px;
    min-height: 150px;
}


.efeitoMaquina {
    font-size:  calc(1vw + 16px);
}

.btn_85 {
    padding: 10px;
    min-width: 40vw;
    font-size: calc(1vw + 10px);
    color: #F0F6FC;
    transition: 0.4s
}

.btn_85:hover {
    color: #8b8b8b
}

.btn_85:active {
    opacity: 0.8;
}
