 @import url(./utils/buttons/buttons.module.css);

 /** Configurações gerais*/
 * {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: #F0F6FC;
}

a {
  padding: 5px;
  transition: 0.4s;
}

a:hover {
  color: #7c8bcc;
}

a:active {
  color:#9620cc
}


.App-header {
  width: 100vw;
  position: fixed;
  display: flex;
  height: 70px;
  background-color: #161B22;
  z-index: 1000;
}

.nav-container{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container ul{
  min-width: 200px;
  height: 60px;
  margin-right: 40px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  font-size: calc(0.7vw + 9px);
}

.logo-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
}

.logo-container img {
  height: 100%;
}

.logo-container h1 {
  font-size: calc(1vw + 10px);
}

.App-main {
  padding-top: 80px;
  padding-bottom: 70px;
  min-height: calc(100vh - 150px);
  background-color: #0D1117;
}