.container {
    max-width: 600px;
    min-width: 50vw;
    min-height: 100px;
    padding: 40px;
}

.title {
    padding: 0 auto;
}

.title::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: piscar 0.7s infinite;
}

@keyframes piscar {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }

}